.dietcontainer {
    min-height: 40vh;
    height: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.dietcontainer .subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.dietcontainer .subcontainer .container1,
.dietcontainer .subcontainer .container2,
.dietcontainer .subcontainer .container3 {
    padding-bottom: 10px;
    width: 350px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 1px 15px rgb(156, 254, 240);
    transition: 0.6s;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}



.dietcontainer .subcontainer .container1 .imgbx,
.dietcontainer .subcontainer .container2 .imgbx,
.dietcontainer .subcontainer .container3 .imgbx {
    width: 150px;
    height: 150px;
    background: #000;
}

.dietcontainer .subcontainer .container1:hover,
.dietcontainer .subcontainer .container2:hover,
.dietcontainer .subcontainer .container3:hover {
    height: 450px;
}

