.dietcontainer {
    height: 60vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    text-align: center;
}

.dietcontainer .subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.dietcontainer .subcontainer .container1,
.dietcontainer .subcontainer .container2,
.dietcontainer .subcontainer .container3 {
    position: 'relative';
    width: 350px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    align-items: center;
    background-color: #fff;
}

.dietcontainer .subcontainer .container1 .imgbx,
.dietcontainer .subcontainer .container2 .imgbx,
.dietcontainer .subcontainer .container3 .imgbx {
    position: relative;
    width: 150px;
    height: 150px;
    background: #000;
    left: 28%;
}

.dietcontainer .subcontainer .container1:hover,
.dietcontainer .subcontainer .container2:hover,
.dietcontainer .subcontainer .container3:hover {
    height: 450px;
}