.diabetescontainer,
.aboutcontainer {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    border-radius: 50px;
}

.diabetescontainer{
    padding-top: 40px;
}

.diabetescontainer .container1 h1 {
    color: brown;
}

.diabetescontainer .container1,
.diabetescontainer .container2 {
    width: 50%;
    height: 100%;
}

.diabetescontainer .container2 img {
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.aboutcontainer .container1,
.aboutcontainer .container2 {
    width: 50%;
    height: 100%;
}

.aboutcontainer h1 {
    color: rgba(0, 180, 255, 1);
}

.aboutcontainer .container1 img {
    margin: 0;
    width: 100%;
    height: 100%;
}