.homecontainer {
    background-color: none;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homecontainer img{
    height: 64vh;
    width: 64%;
    box-sizing: border-box;
}
.homecontainer h1 {
    color: red;
    font-weight: lighter;
    font-size: 60px;
    margin: 0px 0;
}

.homecontainer h2 {
    font-weight: lighter;
    font-size: 36px;
    margin: 2px 0;
}